
body {
    background-color: lightgray;
}

.banner {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

h1 {
    font-size: 48px;
}

.card-wrapper {
    margin: 75px;
}

.employee-card {
    margin: 15px;
    border-style: solid;
    border-color: black;
}

.card-header {
    background-color: lightskyblue;
}

.manager {
    background-color: lightgoldenrodyellow;
}

.label {
    font-weight: bold;
}